/* Avatar Component Styles */

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--heading-color);
    color: #fff;
    font-weight: 700;
}

.avatar-small {
    width: 32px;
    height: 32px;
    font-size: 0.875rem;
}

.avatar-medium {
    width: 48px;
    height: 48px;
    font-size: 1.25rem;
}

.avatar-large {
    width: 80px;
    height: 80px;
    font-size: 2rem;
}